body{
  margin: 0px;
}
.Main{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: dodgerblue;
}
.sub1{
  position: absolute;
  top: 10vh;
  right: 10vw;
  left: 10vw;
  background-color: aliceblue;
  height: 80vh;
  width: 80vw;
  font-size:xx-large;
  text-align: center;
  color: black;
  text-shadow:2px 2px 10px brown;
  font-weight: bolder;
  border-radius: 80px 10px 80px 10px;
}

.sub2{
  top: 20vh;
  left: 20vw;
  width: 30vw;
  height: 50vh;
  background-color: rgb(83, 167, 241);
  position: absolute;
  border-radius: 80px 10px 80px 10px;
  font-size:large;
  padding-left: 20px;
  color: aliceblue;
}

.sub2 button{
  width: 180px;
  height: 40px;
  background-color: rgb(56, 56, 56);
  font-size: large;
  border-radius: 20px 5px 20px 5px;
  color: aliceblue;
  font-weight: bold;
  border: 3px solid aliceblue;
}

.sub3{
  display: block;
  top: 30vh;
  right: 20vw;
  width: 30vw;
  height: 50vh;
  background-color: rgb(83, 167, 241);
  position: absolute;
  border-radius: 80px 10px 80px 10px;
}

.sub3 img{
  width: 90%;
  height: 90%;
  border-radius: 80px 10px 80px 10px;
  margin-left: 5%;
  margin-top: 5%;
  border: 3px solid aliceblue;
}

.sub4{
  display: none;
  top: 30vh;
  right: 20vw;
  width: 30vw;
  height: 50vh;
  background-color: rgb(83, 167, 241);
  position: absolute;
  border-radius: 80px 10px 80px 10px;
}

.sub4 img{
  width: 90%;
  height: 90%;
  border-radius: 80px 10px 80px 10px;
  margin-left: 5%;
  margin-top: 5%;
  border: 3px solid aliceblue;
}